body {
    font-family: Inter,  sans-serif; 
    font-size: 20px; 
    background-color: #FFFFFF; 
    color: #333333; 
}
@keyframes color-change {
    0% {
      color: black;
    }
  
    50% {
      color: white;
    }
  
    100% {
      color: black;
    }
}
h2:hover {
    animation: color-change 2s infinite;
    font-size: 20px; 
    font-family: Inter, serif; 
}
.map {
    padding: 40px 0;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: 20px;
}
